[Unit]
Description=Prometheus node_exporter Service
After=syslog.target.prometheus.node_exporter.service

[Service]
ExecStart=/usr/bin/node_exporter
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
Type=simple
PrivateTmp=true

[Install]
WantedBy=multi-user.target